/* Desktop Window Styles */

.desktop-window {
  font-family: 'Roboto', sans-serif;
}

.desktop-window__title-bar {
  user-select: none;
}

.desktop-window_small {
  width: 29rem;
  height: 29rem;
}

.desktop-window_medium {
  width: 52rem;
  height: 40.4rem;
}

.desktop-window_large {
  width: 70rem;
  height: 40.6rem;
}

.desktop-window_narrow {
  width: 37rem;
  height: 49rem;
}

.desktop-window_xsmall {
  width: 17rem;
  height: 28rem;
}

@media (max-width: 768px) {
  .desktop-window {
    position: fixed !important;
    left: 0 !important;
    top: 0 !important;
    width: 100vw !important;
    height: 100vh !important;
    min-width: 100vw !important;
    min-height: 100vh !important;
  }
}

